* {
    margin: 0;
    padding: 0;
  }

  #container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 #imgBox {

    position: relative;
    display:flex;
    margin: 0 auto;
    font-size: 0;
    width: 960px;
    height: 540px;
    overflow: scroll;
    background-color: #efefef;
    border: 1px dashed #cacaca;
    /*container内のwhite-spaceを無効化*/
   
  }

 #imgBox img{
      width: auto;
      height: 100%;
      margin: 0 10px;
      border: 1px dashed #9c9c9c;
  }



  #drop-zone {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75vw;
    height: 75vh;
    border: 1px dashed #cacaca;
    background-color: #FAFAFA;
  }

  .second {
    top: 75vh;
    left: 0;
    transform: translate(0,0);
    width: 100vw;
    height: 25vh;
  }

  #drop-zone > p{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 0.2em;
    font-size: 20px;
  }
  
  .tp-dfwv{
    z-index: 4;
  }
  